{% extends 'basehome.html' %}
{% load static %}
{% block ttyy %}
<div class="bg-gray-100">
    <header class="bg-gray-600 text-white py-8">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold">مرحبًا بكم في موقعنا للسفريات والسياحة</h1>
        </div>
    </header>
    <main class="container mx-auto p-5">
        <section class="bg-white rounded-lg shadow-lg p-6 mt-5">
            <h2 class="text-xl font-semibold">من نحن</h2>
            <p class="mt-2 text-gray-700">
                نحن شركة متخصصة في تقديم خدمات السفر والسياحة. نقدم لك تجارب سفر فريدة ومثيرة، مع خيارات متنوعة تناسب جميع احتياجاتك.
            </p>
            <h2 class="text-xl font-semibold mt-5">رؤيتنا</h2>
            <p class="mt-2 text-gray-700">
                رؤيتنا هي أن نكون رائدين في صناعة السياحة من خلال تقديم خدمات عالية الجودة وتجارب لا تُنسى.
            </p>
            <h2 class="text-xl font-semibold mt-5">خدماتنا</h2>
            <ul class="list-disc list-inside mt-2 text-gray-700">
                <li>حجوزات رحلات</li>
                <li>حجوزات رحلات عامة وخاصة</li>
                <li>جولات سياحية</li>
            </ul>
            <h2 class="text-xl font-semibold mt-5">اتصل بنا</h2>
            <p class="mt-2 text-gray-700">
                إذا كان لديك أي استفسارات، لا تتردد في <a  class="text-blue-500 underline">الاتصال بنا</a>.
            </p>
        </section>
    </main>
</div>

{% endblock %}