{% extends 'basehome.html' %}
{% load  static %}
{% block ttyy %}
<div class="w-full mt-[30px]">
    <div class="w-2/3 h-[70vh] mx-auto flex flex-row bg-[#ffffff] justify-between border-2 border-[#3c487b] rounded-[24px]">
        <div class="flex-1">
            <img src="{% static 'assetstravelers/image/img/Group 1171275883.svg'%}" alt>
        </div>
        <div class="flex-1 flex flex-col justify-center items-center">
            <h5 class="text-[20px] font-bold mb-[10px]">استعادة كلمة السر</h5>


        
            {% if messages %}
            <div class="w-2/3 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
    
            <form action="{% url 'forgot_password' %}" method="POST" class="w-2/3 flex flex-col items-center mt-[10px] gap-2">
                {% csrf_token %}
                <div class="w-full bg-[#f3f1ff] rounded-xl h-[30px] gap-2 flex flex-row items-center px-[20px]">
                    <input type="text" name="username" class="bg-transparent border-none focus:border-none text-[12px] w-full" placeholder="اسم المستخدم">
                </div>
                <div class="w-full bg-[#f3f1ff] rounded-xl h-[30px] gap-2 flex flex-row items-center px-[20px]">
                    <input type="text" name="email" class="bg-transparent border-none focus:border-none text-[12px] w-full" placeholder="البريد الالكتروني">
                </div>
                <button type="submit" class="bg-gradient-to-r from-[#8978f3] to-[#634def] w-[100px] h-[35px] flex rounded-xl px-1 justify-center items-center text-[12px] text-white">ارسال</button>
            </form>
    



        </div>
    </div>
  </div>

{% endblock %}