{% extends 'basehome.html' %}
{% load  static %}
{% block ttyy %}
<div class="w-full mt-[30px]">
    <div class="w-2/3 h-[70vh] mx-auto flex flex-row bg-[#ffffff] justify-between border-2 border-[#3c487b] rounded-[24px]">
      
      <div class="w-[95%] mb-[50px] bg-[#f0efef] mx-auto mt-7 flex-col flex items-center">
      
      
      <h1 class="text-[50px] font-bold text-[#3b3b3b]"> شكرًا لك على حجزك!</h1>
      <p>
        تم استلام طلبك بنجاح ونحن سعداء بكونك جزءًا من رحلتنا القادمة. نود أن نعلمك أن طلب حجزك في قيد المراجعة الآن
      </p>

    </div>
    </div>
  </div>

{% endblock %}