{% extends 'base.html' %}
{% load  static %}
{% block content %}
<div class=" flex-col  h-[70%]">


    <div class="flex flex-row items-center gap-2 mx-2">
        <h1 class=" text-2xl font-bold ">ادارة السواقين</h1>
        <div class="w-[80%] h-[5px] bg-[#F5F0F1] mt-4 rounded-lg"></div>

    </div>


    <div class="flex flex-row items-center gap-10 mx-7 my-4">


        <button class="flex gap-[2px] border border-gray-300 items-center  py-2">
            <h5 class="text-black  pr-2">filter</h5>
            <img class="mr-[20px]" src="../../static/assetstravelers/image/img/icons/filter.svg" alt />

          </button>



          <button onclick="openDialog('Dialog4')" class="flex gap-[2px] bg-[#4278FF] mx-2 mt-3 mb-3 items-center  py-2 rounded-lg w-[170px]">
            <h5 class="text-white  pr-2">اضافة سواق جديده</h5>
            <img class="" src="{% static 'assetstravelers/image/img/icons/add-circle.svg'%}" alt /> 
          </button>


          <!-- Dialog 4 اضافة سواق -->
<div id="Dialog4" class="custom-dialog" style="direction: rtl">
    <div class="w-full bg-primaryDialog flex items-center px-[25px] py-[10px]">
        <h5 class="text-[30px] text-white ml-2">اضافة سواق</h5>
        <div class="flex-1 h-[2px] bg-white"></div>
        <button class="text-3xl mx-2" onclick="openDialog('Dialog4')">X</button>
    </div>


    <form action="{% url 'add_driver' %}" method="POST" class="flex flex-col p-4" enctype="multipart/form-data">
        {% csrf_token %}
    <select name="driver_type" class="custom-input flex-1" id="driver_type" onchange="toggleFields()">
    <option value>من هو</option>
    <option value="tocompany">تابع لشركة</option>
    <option value="tobe">تابع لجهه</option>
    <option value="drivername">سواق</option>
    </select>

        <div class="grid grid-cols-4 gap-2">
            <div>

                <input type="text" name="name" class="custom-input" id="name_field" placeholder="الاسم" required />
                <select name="experience_years" class="custom-input flex-1" id="experience_field">
                    <option value>سنين خبرة العمل</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="text" name="phone" class="custom-input" id="phone_field" placeholder="رقم الهاتف 1" />
                <input type="text" class="custom-input" id="phone2_field" placeholder="رقم الهاتف 2" />
            </div>
            <div>
                <select name="license_type" class="custom-input flex-1" id="license_type_field">
                    <option value>نوع رخصة القيادة</option>
                    <option value="6 ركاب">6 ركاب</option>
                    <option value="12 راكب">12 راكب</option>
                    <option value="16 راكب">16 راكب</option>
                </select>
                <input type="text" name="license_number" class="custom-input" id="license_number_field" placeholder="رقم رخصة القيادة " />
               
               
<div class="flex flex-col items-center pt-1">
    <img id="license_img-image" src="../../static/assetstravelers/image/img/icons8_collaborator_male_60px 2.png" width="70%" height="90%" alt="license_img Image" />
    <label for="license_img-file-input">
        <input id="license_img-file-input" type="file" name="license_img" style="display: none" onchange="previewImage(event, 'license_img-image')" />
        <button class="custom-input w-[180px]" type="button" id="license_img-button" onclick="document.getElementById('license_img-file-input').click();">اختار صورة رخصة القيادة</button>
    </label>
</div>
            </div>
            <div>
                <input type="text" name="id_number" class="custom-input" id="id_number_field" placeholder="رقم البطاقة الشخصية" />
                <input type="text" name="passport_number" class="custom-input" id="passport_number_field" placeholder="رقم الجواز" />
<div class="flex flex-col items-center pt-2">
    <img id="identify_img-image" src="../../static/assetstravelers/image/img/icons8_collaborator_male_60px 2.png" width="70%" height="90%" alt="identify_img Image" />
    <label for="identify_img-file-input">
        <input id="identify_img-file-input" type="file" name="identify_img" style="display: none" onchange="previewImage(event, 'identify_img-image')" />
        <button class="custom-input w-[140px]" type="button" id="identify_img-button" onclick="document.getElementById('identify_img-file-input').click();">اختار صورة الهوية</button>
    </label>
</div>
            </div>
            <div>
                <input type="date" name="date_of_birth" class="custom-input flex-1" id="date_of_birth_field"  />
                <div class="flex gap-1">
                    <select name="gender" class="custom-input flex-1" id="gender_field">
                        <option value>الجنس</option>
                        <option value="1">ذكر</option>
                        <option value="0">أنثئ</option>
                    </select>
                    <select name="nationality" class="custom-input flex-1" id="nationality_field">
                        <option value>الجنسية</option>
                        {% for nationality in nationalities %}
                        <option value="{{ nationality.id }}">{{ nationality.name }}</option>
                        {% endfor %}
                    </select>
                </div>
<div class="flex flex-col items-center pt-2">
    <img id="driver-image" src="../../static/assetstravelers/image/img/icons8_collaborator_male_60px 2.png" width="70%" height="90%" alt="Driver Image" />
    <label for="file-input">
        <input id="file-input" type="file" name="image" style="display: none" onchange="previewImage(event, 'driver-image')" />
        <button class="custom-input w-[140px]" type="button" id="driver_image-button" onclick="document.getElementById('file-input').click();">اختار صورة</button>
    </label>
</div>
            </div>
        </div>
        <div class="w-full flex-row">
            <button type="submit" class="w-[74%] py-1 text-white font-bold bg-primaryDialog rounded-md">حفــــــــــــــــظ</button>
            <button type="button" class="w-1/4 py-1 border font-bold border-primaryDialog rounded-md text-primaryDialog" onclick="openDialog('Dialog4')">الغاء</button>
        </div>
    </form>
</div>







          {% comment %} <div id="Dialog4" class="custom-dialog" style="direction: rtl">
            <div
              class="w-full bg-primaryDialog flex items-center px-[25px] py-[10px]"
            >
              <h5 class="text-[30px] text-white ml-2">اضافة سواق</h5>
              <div class="flex-1 h-[2px] bg-white"></div>
              <button class="text-3xl mx-2" onclick="openDialog('Dialog4')">X</button>
            </div>
            <form action="{% url 'add_driver' %}" method="POST" class="flex flex-col p-4" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="grid grid-cols-4 gap-2">


                <div>
                  <select name="driver_type" class="custom-input flex-1" id>
                    <option value>من هو</option>
                    <option value="tocompany">تابع لشركة</option>
                    <option value="tobe">تابع لجهه</option>
                    <option value="drivername">سواق</option>
                  </select>
                  <input
                    type="text"
                    name="name"
                    class="custom-input"
                    placeholder="الاسم"
                  />
          
                  <select name="experience_years" class="custom-input flex-1" id>
                    <option value>سنين خبرة العمل</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>


                  </select>
          
                  <input
                    type="text"
                    name="phone"
                    class="custom-input"
                    placeholder="رقم الهاتف 1"
                  />
                  <input
                    type="text"
                    class="custom-input"
                    placeholder="رقم الهاتف 2"
                  />


                </div>
          
          
                <div>
                  <select name="license_type" class="custom-input flex-1" id>
                    <option value>نوع رخصة القيادة</option>
                    <option value="6 ركاب">6 ركاب</option>
                    <option value="12 راكب">12 راكب</option>
                    <option value="16 راكب">16 راكب</option>
                  </select>
                  <input type="text" name="license_number" class="custom-input" placeholder="رقم رخصة القيادة " />

                  <div class="flex flex-col items-center pt-1 ">
                    <img id="license_img-image" 
                         src="../../static/assetstravelers/image/img/icons8_collaborator_male_60px 2.png" 
                         width="70%" height="90%" alt="license_img Image" />
                    
                    <label for="license_img-file-input">
                      <input id="license_img-file-input" type="file" name="license_img" style="display: none" onchange="previewImage(event, 'license_img-image')" />
                      <button class="custom-input w-[180px]" type="button" onclick="document.getElementById('license_img-file-input').click();">اختار صورة رخصة القيادة</button>
                    </label>
                  </div>          
          

                </div>

                


                <div>
                  <input type="text" name="id_number" class="custom-input" placeholder="رقم البطاقة الشخصية" />
                  <input type="text" name="passport_number" class="custom-input" placeholder="رقم الجواز" />

          
                  <div class="flex flex-col items-center pt-2">
                    <img id="identify_img-image" 
                         src="../../static/assetstravelers/image/img/icons8_collaborator_male_60px 2.png" 
                         width="70%" height="90%" alt="identify_img Image" />
                    
                    <label for="identify_img-file-input">
                      <input id="identify_img-file-input" type="file" name="identify_img" style="display: none" onchange="previewImage(event, 'identify_img-image')" />
                      <button class="custom-input w-[140px]" type="button" onclick="document.getElementById('identify_img-file-input').click();">اختار صورة الهوية </button>
                    </label>
                  </div>

                </div>




                <div>
                  <input type="date" name="date_of_birth" class="custom-input flex-1" required />

                  <div class="flex gap-1">
                    <select name="gender" class="custom-input flex-1" id>
                      <option value>الجنس</option>
                      <option value="1">ذكر</option>
                      <option value="0">أنثئ</option>
                    </select>

                   <select name="nationality" class="custom-input flex-1" id>
                      <option value>الجنسية</option>
                      {% for nationality in nationalities %}
                      <option value="{{ nationality.id }}">{{ nationality.name }}</option>
                       {% endfor %}
                    </select>


                  </div>
                  <div class="flex flex-col items-center pt-2">
                    <img id="driver-image" 
                         src="../../static/assetstravelers/image/img/icons8_collaborator_male_60px 2.png" 
                         width="70%" height="90%" alt="Driver Image" />
                    
                    <label for="file-input">
                      <input id="file-input" type="file" name="image" style="display: none" onchange="previewImage(event, 'driver-image')" />
                      <button class="custom-input w-[140px]" type="button" onclick="document.getElementById('file-input').click();">اختار صورة</button>
                    </label>
                  </div>



                </div>









                
              </div>
              <div class="w-full flex-row">
                <button type="submit" class="w-[74%] py-1 text-white font-bold bg-primaryDialog rounded-md">حفــــــــــــــــظ</button>
                <button type="button" class="w-1/4 py-1 border font-bold border-primaryDialog rounded-md text-primaryDialog" onclick="openDialog('Dialog4')">الغاء</button>
              </div>
            </form>
            
          </div> {% endcomment %}



          <div
          class="bg-[#F5F0F1] border border-gray-300 h-min flex  flex-row mx-auto py-2 px-7 rounded-3xl gap-3 items-center">
          <input type="text" value="" class="mx-auto bg-[#F5F0F1]  px-7">
          <h5 class="text-gray-300 w-[80px]">Search</h5>
          <img src="{% static 'assetstravelers/image/img/icons/Icon1.svg'%}" alt  />
        </div>

    </div>
    
    <!-- table  -->
    <div>

        <table class="min-w-full border bg-[#F5F0F1] border-[#F5F0F1] rounded-3xl overflow-hidden px-4">
            <thead class="">
                <tr class="bg-[#F5F0F1]">
                    <th class="px-4 py-2 text-right border-b border-[#000000]"></th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">الاسم</th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">الهاتف</th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">رقم البطاقة</th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">الجنس</th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">الجنسية</th>

                    <th class="px-4 py-2 text-center border-b border-[#000000]">العمليـــــــــــــات</th>
                </tr>
            </thead>
            <tbody>
              {% for driver in drivers %}
              <tr>
                <td class="px-4 py-2 border-b border-[#F5F0F1]">
                      {% if driver.image %} 
        <img src="{{ driver.image.url }}" alt width="70" />
    {% else %}
        <span>لا توجد صورة</span>  
    {% endif %}
                </td>
                  <td class="px-4 py-2 border-b border-[#F5F0F1]">{{ driver.name }}</td>
                  <td class="px-4 py-2 border-b border-[#F5F0F1]">
                    {% if driver.phone %} 
                    {{ driver.phone }}
                    {% else %}
                      <span>لا توجد رقم هاتف</span>  
                  {% endif %}
                  </td>
                  <td class="px-4 py-2 border-b border-[#F5F0F1]">
                    {% if driver.id_number %} 
                    {{ driver.id_number }}
                    {% else %}
                      <span>لا توجد رقم</span>  
                  {% endif %}
                    
                    {% comment %} {{ driver.id_number }} {% endcomment %}
                  
                  </td>
                  <td class="px-4 py-2 border-b border-[#F5F0F1]">    
                    {% if driver.gender == "1" %}
                        ذكر
                    {% elif driver.gender == "0"  %}
                       أنثى

                       {%else%}
                       لايوجد
                    {% endif %}
                  </td>
                  <td class="px-4 py-2 border-b border-[#F5F0F1]">
                    {% if driver.nationality.name %} 
                   {{ driver.nationality.name }}

                    {% else %}
                      <span>لا توجد جنسية</span>  
                  {% endif %}
                    
                  
                  </td>
                  <td class="px-1 py-2 border-b border-[#F5F0F1] flex flex-row gap-2 justify-center">
                    <button onclick="openEditDialog('{{ driver.id }}')" class="bg-[#4278FF] text-[#16151C] rounded-lg w-[80px] flex items-center gap-1 justify-center">
                      <img src="{% static 'assetstravelers/image/img/icons/edit.svg' %}" alt /><h6>تعديل</h6>
                  </button>
                  <button onclick="openDialog('DialogDelete{{ driver.id }}')" class="bg-[#FF424C] text-[#16151C] rounded-lg w-[80px] flex items-center gap-1 justify-center">
                    <img class="" src="{% static 'assetstravelers/image/img/icons/Vector.svg' %}" alt />
                    <h6>حذف</h6>
                </button>                  
                <button onclick="window.location.href='{% url 'driver_detail' driver.id %}'" class="bg-[#94FF42]  rounded-lg w-[80px] flex items-center gap-1 justify-center"><img class="" src="{% static 'assetstravelers/image/img/icons/view.svg'%}" alt /></button>

                  </td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="6" class="text-center">لا يوجد سواقين متاحين</td>
              </tr>
              {% endfor %}

            </tbody>
        </table>

    </div>
    <!-- table end  -->

    {% for driver in drivers %}
    <!-- Dialog تعديل سواق -->
    <div id="EditDialog{{ driver.id }}" class="custom-dialog" style="display: none; direction: rtl;">
      <div class="w-full bg-primaryDialog flex items-center px-[25px] py-[10px]">
          <h5 class="text-[30px] text-white ml-2">تعديل سواق</h5>
          <div class="flex-1 h-[2px] bg-white"></div>
          <button class="text-3xl mx-2" onclick="openDialog('EditDialog{{ driver.id }}')">X</button>
      </div>
      <form action="{% url 'edit_driver' driver.id %}" method="POST" class="flex flex-col p-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid grid-cols-4 gap-2">
          <div>
            <select name="driver_type" class="custom-input flex-1" id>
                    <option value>من هو</option>
                    <option value="tocompany" {% if driver.driver_type == tocompany %}selected{% endif %}>تابع لشركة</option>
                    <option value="tobe"{% if driver.driver_type == tobe %}selected{% endif %}>تابع لجهه</option>
                    <option value="drivername"{% if driver.driver_type == drivername %}selected{% endif %}>سواق</option>
              </select>
            <input
              type="text"
              name="name"
              value="{{ driver.name }}"
              class="custom-input"
              placeholder="الاسم الرباعي"
              
            />
    
            <select name="experience_years" class="custom-input flex-1" id>
              <option value="">سنين خبرة العمل</option>
              <option value="1" {% if driver.experience_years == 1 %}selected{% endif %}>1</option>
              <option value="2" {% if driver.experience_years == 2 %}selected{% endif %}>2</option>
              <option value="3" {% if driver.experience_years == 3 %}selected{% endif %}>3</option>
              <option value="4" {% if driver.experience_years == 4 %}selected{% endif %}>4</option>
              <option value="5" {% if driver.experience_years == 5 %}selected{% endif %}>5</option>
            </select>
    

            <input
              type="text"
              name="phone"
              value="{{ driver.phone }}"
              class="custom-input"
              placeholder="رقم الهاتف 1"
            />
            <input
              type="text"
              class="custom-input"
              placeholder="رقم الهاتف 2"
            />

            <input type="text" name="passport_number" value="{{ driver.passport_number }}" class="custom-input" placeholder="رقم الجواز" />

          </div>
    
    
          <div>
            <select name="license_type" class="custom-input flex-1">
              <option value="">نوع رخصة القيادة</option>
              <option value="6 ركاب" {% if driver.license_type == "6 ركاب" %}selected{% endif %}>6 ركاب</option>
              <option value="12 راكب" {% if driver.license_type == "12 راكب" %}selected{% endif %}>12 راكب</option>
              <option value="16 راكب" {% if driver.license_type == "16 راكب" %}selected{% endif %}>16 راكب</option>
            </select>
            <input type="text" name="license_number" value="{{ driver.license_number }}" class="custom-input" placeholder="رقم رخصة القيادة " />



            <div class="flex flex-col items-center pt-1">
    {% if driver.license_img %}  
        <img 
            id="editImage{{ driver.id }}" 
            src="{{ driver.license_img.url }}" 
            alt="صورة الرخصة" 
            style="max-width: 200px; max-height: 400px;" 
            onerror="this.onerror=null; this.src='{% static 'assetstravelers/image/img/icons8_collaborator_male_60px 2.png' %}'" 
        />
    {% else %}
        <img 
            id="editImage{{ driver.id }}" 
            src="{% static 'assetstravelers/image/img/icons8_collaborator_male_60px 2.png' %}" 
            alt="صورة الرخصة" 
            style="max-width: 200px; max-height: 400px;" 
        />
    {% endif %}


              <label 
                for="license_img-file-input-{{ driver.id }}" 
                class="custom-upload-button text-center"
              >
                اختر صورةالرخصة
              </label>
              <input 
                id="license_img-file-input-{{ driver.id }}" 
                type="file" 
                name="license_img" 
                onchange="previewImageee(event, '{{ driver.id }}')" 
                style="display: none;" 
              />
            </div>
    
          </div>


          <div>
            <input type="text" name="id_number" value="{{ driver.id_number }}" class="custom-input" placeholder="رقم البطاقة الشخصية" />
            <input type="text" name="passport_number" value="{{ driver.passport_number }}" class="custom-input" placeholder="رقم الجواز" />
            <div class="flex flex-col items-center pt-1">

    {% if driver.identify_img %}  
              <img 
                id="editImage{{ driver.id }}" 
                src="{{ driver.identify_img.url }}" 
                alt="صورة الهوية" 
                style="max-width: 200px; max-height: 400px;" 
                onerror="this.onerror=null; this.src='{% static 'assetstravelers/image/img/icons8_collaborator_male_60px 2.png' %}'" 
              />
    {% else %}
        <img 
            id="editImage{{ driver.id }}" 
            src="{% static 'assetstravelers/image/img/icons8_collaborator_male_60px 2.png' %}" 
            alt="صورة الهوية" 
            style="max-width: 200px; max-height: 400px;" 
        />
    {% endif %}


              <label 
                for="identify_img-file-input-{{ driver.id }}" 
                class="custom-upload-button text-center"
              >
                اختر صورةالهوية
              </label>
              <input 
                id="identify_img-file-input-{{ driver.id }}" 
                type="file" 
                name="identify_img" 
                onchange="previewImageee(event, '{{ driver.id }}')" 
                style="display: none;" 
              />
            </div>

          </div>




          <div>
            <input type="date" name="date_of_birth" value="{{ driver.date_of_birth|date:'Y-m-d' }}" class="custom-input flex-1" required />

            <div class="flex gap-1">
              <select name="gender" class="custom-input flex-1" id>
                <option value="">الجنس</option>
                <option value="1" {% if driver.gender == "1" %}selected{% endif %}>ذكر</option>
                <option value="0" {% if driver.gender == "0" %}selected{% endif %}>أنثى</option>
            </select>
              <select name="nationality" class="custom-input flex-1">
                <option value="">الجنسية</option>
                {% for nationality in nationalities %}
                <option value="{{ nationality.id }}" {% if driver.nationality.id == nationality.id  %}selected{% endif %}>
                    {{ nationality.name }}
                </option>
            {% endfor %}
              </select>
            </div>


            <div class="flex flex-col items-center pt-2">

    {% if driver.image %}  
              <img 
                id="editImage{{ driver.id }}" 
                src="{{ driver.image.url }}" 
                alt="صورة سواق" 
                style="max-width: 200px; max-height: 400px;" 
                onerror="this.onerror=null; this.src='{% static 'assetstravelers/image/img/icons8_collaborator_male_60px 2.png' %}'" 
              />
    {% else %}
        <img 
            id="editImage{{ driver.id }}" 
            src="{% static 'assetstravelers/image/img/icons8_collaborator_male_60px 2.png' %}" 
            alt="صورة سواق" 
            style="max-width: 200px; max-height: 400px;" 
        />
    {% endif %}
              

              <label 
                for="file-input-{{ driver.id }}" 
                class="custom-upload-button text-center"
              >
                اختر صورة
              </label>
              <input 
                id="file-input-{{ driver.id }}" 
                type="file" 
                name="image" 
                onchange="previewImageee(event, '{{ driver.id }}')" 
                style="display: none;" 
              />
            </div>


          </div>



          
        </div>
        <div class="w-full flex-row">
          <button
          type="submit"
            class="w-[74%] py-1 text-white font-bold bg-primaryDialog rounded-md text-ellipsiswhite"
          >
          تحديث
          </button>
          <button
            type="button"
            class="w-1/4 py-1 border font-bold border-primaryDialog rounded-md text-primaryDialog"
            onclick="openDialog('EditDialog{{ driver.id }}')"
            >
            الغاء
          </button>
        </div>
      </form>
  </div>
  <!-- Dialog تعديل سواق end -->
  {% endfor %}

  {% for driver in drivers %}
  <!-- Dialog حذف سواق -->
  <div id="DialogDelete{{ driver.id }}" class="custom-dialog" style="display: none; direction: rtl;">
      <div class="w-full bg-red-600 flex items-center px-[25px] py-[10px]">
          <h5 class="text-[30px] text-white ml-2">تأكيد الحذف</h5>
          <div class="flex-1 h-[2px] bg-white"></div>
          <button class="text-3xl mx-2" onclick="openDialog('DialogDelete{{ driver.id }}')">X</button>
      </div>
      <div class="p-4">
          <p class="text-center text-lg">{{ driver.name }} هل أنت متأكد أنك تريد حذف هذه السواق</p>
          <form action="{% url 'delete_driver' driver.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="id" id="deleteTripId" />
              <div class="w-full flex-row">
                  <button type="submit" class="w-[100%] py-1 text-white font-bold bg-red-700 rounded-md">نعم، احذفها</button>
                  <button type="button" class="w-[100%] py-1 border font-bold border-red-700 rounded-md text-red-700" onclick="openDialog('DialogDelete{{ driver.id }}')">إلغاء</button>
              </div>
          </form>
      </div>
  </div>
  <!-- Dialog حذف سواق end -->
  {% endfor %}


<script>
    function toggleFields() {
        const driverType = document.getElementById('driver_type').value;
        const fieldsToShow = ['name_field'];
        const fieldsToHide = [
            'experience_field', 'phone_field', 'phone2_field', 'license_type_field', 
            'license_number_field', 'id_number_field', 'passport_number_field', 
            'date_of_birth_field', 'gender_field', 'nationality_field'
        ];
        const imageFields = ['license_img-button', 'identify_img-button', 'driver_image-button'];
        const imageElements = ['license_img-image', 'identify_img-image', 'driver-image'];

        if (driverType === 'tocompany' || driverType === 'tobe') {
            fieldsToHide.forEach(fieldId => {
                document.getElementById(fieldId).style.display = 'none';
            });
            fieldsToShow.forEach(fieldId => {
                document.getElementById(fieldId).style.display = 'block';
            });
            imageFields.forEach(fieldId => {
                document.getElementById(fieldId).style.display = 'none';
            });
            imageElements.forEach(imageId => {
                document.getElementById(imageId).style.display = 'none';
            });
        } else if (driverType === 'drivername') {
            fieldsToShow.forEach(fieldId => {
                document.getElementById(fieldId).style.display = 'block';
            });
            fieldsToHide.forEach(fieldId => {
                document.getElementById(fieldId).style.display = 'block';
            });
            imageFields.forEach(fieldId => {
                document.getElementById(fieldId).style.display = 'block';
            });
            imageElements.forEach(imageId => {
                document.getElementById(imageId).style.display = 'block';
            });
        } else {
            fieldsToShow.forEach(fieldId => {
                document.getElementById(fieldId).style.display = 'none';
            });
            fieldsToHide.forEach(fieldId => {
                document.getElementById(fieldId).style.display = 'none';
            });
            imageFields.forEach(fieldId => {
                document.getElementById(fieldId).style.display = 'none';
            });
            imageElements.forEach(imageId => {
                document.getElementById(imageId).style.display = 'none';
            });
        }
    }

    document.addEventListener('DOMContentLoaded', toggleFields);
</script>
{% endblock %}


