{% extends 'base.html' %}

{% block content %}

<div class=" flex-col mt-2  h-[70%]">


    <div class="flex flex-row items-center gap-4 mx-2">
        <h1 class=" text-2xl font-bold ">التقارير</h1>
        <div class="w-[90%] h-[5px] bg-[#F5F0F1] mt-4 rounded-lg"></div>

    </div>


    <div class="flex flex-row justify-end gap-10 mx-7 my-4">

        <div class="my-4">
            <label for="trip-type">نوع الرحلة:</label>
            <select id="trip-type" class="border rounded px-2 py-1">
                <option value="">اختر نوع الرحلة</option>
                <option value="internal">داخلية</option>
                <option value="external">خارجية</option>
            </select>
        </div>

        <div id="internal-trip" class="my-4 hidden">
            <label for="yemen-cities">اختر المحافظة:</label>
            <select id="yemen-cities" class="border rounded px-2 py-1">
                {% for city in cities %}
                    {% if city.nationality.name == "اليمن" %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div id="external-trip" class="my-4 hidden">
            <label for="nationality">اختر الدولة:</label>
            <select id="nationality" class="border rounded px-2 py-1">
                <option value="">اختر الدولة</option>
                {% for nationality in nationalities %}
                    <option value="{{ nationality.id }}">{{ nationality.name }}</option>
                {% endfor %}
            </select>

            <label for="cities">اختر المحافظة:</label>
            <select id="cities" class="border rounded px-2 py-1">
                <option value="">اختر المحافظة</option>
            </select>
        </div>



        <form method="get" action="">
            <input type="number" name="year" placeholder="اختر السنة" class="border rounded px-2 py-1">
            <button type="submit" class="bg-blue-500 text-white px-4 py-1 rounded">تحديث</button>
        </form>


        <button id="print-btn" class="flex gap-[2px] bg-[#4278FF] mx-2 mt-3 mb-3 justify-center py-2 rounded-lg w-[300px]">
            <h5 class="text-white pr-2">طباعة</h5>
        </button>
        

    </div>


    <div id="report-content" class=" bg-[#A2A1A80D] rounded-xl w-[90%] mx-auto ">
 

        <div class="flex flex-row justify-between items-center border-b border-[#16151C] py-6 px-1">
            <h5 class="text-xl font-bold">التقارير السنوي</h5>


            <h5 class="text-xl font-bold">{{ selected_year }}</h5>
            <img src="../../static/assetstravelers/image/img/Group 1171275883.svg" width="80" alt />

        </div>

        <div class="bg-[#A2A1A80D] rounded-xl w-[90%] mx-auto mt-4">
            <div class="overflow-hidden rounded-lg bg-transparent mb-5">
                <h2 class="text-start text-xl font-bold p-4">تقرير مالي</h2>
                <table class="min-w-full border border-black border-collapse">
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 border w-[30%] border-black text-right">متوسط دخل الشهر</td>
                            <td class="px-4 py-2 border border-black">{{ monthly_income }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 border border-black text-right">متوسط دخل نصف السنة</td>
                            <td class="px-4 py-2 border border-black">{{ mid_year_income }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 border border-black text-right">متوسط دخل سنة كاملة</td>
                            <td class="px-4 py-2 border border-black">{{ full_year_income }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 border border-black text-right">المجموع المالي الكلي</td>
                            <td class="px-4 py-2 border border-black">{{ total_income }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="overflow-hidden rounded-lg bg-transparent mb-5">
                <h2 class="text-start text-xl font-bold p-4">الرحلات</h2>
                <table class="min-w-full border border-black border-collapse">
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 border w-[30%] border-black text-right">الداخلية</td>
                            <td class="px-4 py-2 border border-black">{{ internal_trips }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 border border-black text-right">الخارجية</td>
                            <td class="px-4 py-2 border border-black">{{ external_trips }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 border border-black text-right">الخاصة</td>
                            <td class="px-4 py-2 border border-black">{{ private_trips }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 border border-black text-right">الشاحنات</td>
                            <td class="px-4 py-2 border border-black">{{ truck_trips }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
    
             <div class="overflow-hidden rounded-lg bg-transparent mb-6">
                <h2 class="text-start text-xl font-bold p-4">المركبات</h2>
                <table class="w-full border border-black border-collapse">
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 border w-[30%] border-black text-right">الفعالة</td>
                            <td class="px-4 py-2 border border-black">{{ active_vehicles }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 border border-black text-right">الموقفة</td>
                            <td class="px-4 py-2 border border-black">{{ stopped_vehicles }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 border border-black text-right">الإجمالي الكلي</td>
                            <td class="px-4 py-2 border border-black">{{ total_vehicles }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 border border-black text-right">أكثر استخداماً</td>
                            <td class="px-4 py-2 border border-black">{{ most_used_vehicle }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>      

    </div>
    





    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const { jsPDF } = window.jspdf;

            document.getElementById('print-btn').addEventListener('click', function () {
                const doc = new jsPDF({
                    orientation: "portrait",
                    unit: "mm",
                    format: "a4"
                });

                const content = document.getElementById('report-content');

                html2canvas(content, {
                    scale: 3, 
                }).then(function (canvas) {
                    const imgData = canvas.toDataURL('image/png');

                    doc.addFont('Arial', 'Arial', 'normal');
                    doc.addImage(imgData, 'PNG', 10, 10, 190, 0); 
                    doc.save('report.pdf'); 
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const tripTypeSelect = document.getElementById('trip-type');
            const internalTripDiv = document.getElementById('internal-trip');
            const externalTripDiv = document.getElementById('external-trip');
            const nationalitySelect = document.getElementById('nationality');
            const citiesSelect = document.getElementById('cities');

            tripTypeSelect.addEventListener('change', function () {
                if (tripTypeSelect.value === 'internal') {
                    internalTripDiv.classList.remove('hidden');
                    externalTripDiv.classList.add('hidden');
                } else if (tripTypeSelect.value === 'external') {
                    externalTripDiv.classList.remove('hidden');
                    internalTripDiv.classList.add('hidden');
                } else {
                    internalTripDiv.classList.add('hidden');
                    externalTripDiv.classList.add('hidden');
                }
            });

            nationalitySelect.addEventListener('change', function () {
                const nationalityId = nationalitySelect.value;
                citiesSelect.innerHTML = '<option value="">اختر المحافظة</option>';

                if (nationalityId) {
                    fetch(`/get-cities/?nationality_id=${nationalityId}`)
                        .then(response => response.json())
                        .then(data => {
                            data.cities.forEach(city => {
                                const option = document.createElement('option');
                                option.value = city.id;
                                option.textContent = city.name;
                                citiesSelect.appendChild(option);
                            });
                        });
                }
            });
        });


        </script>
        
    </div>
{% endblock %}