{% extends 'base.html' %}
{% load  static %}
{% block content %}
<div class=" flex-col  h-[70%]">


    <div class="flex flex-row items-center gap-2 mx-2">
        <h1 class=" text-2xl font-bold ">ادارة طلبات الحجز</h1>
        <div class="w-[80%] h-[5px] bg-[#F5F0F1] mt-4 rounded-lg"></div>

    </div>



    <!-- table  -->
    <div>
        <table class="min-w-full border bg-[#F5F0F1] border-[#F5F0F1] rounded-3xl overflow-hidden px-4">
            <thead>
                <tr class="bg-[#F5F0F1]">
                    <th class="px-4 py-2 text-right border-b border-[#000000]">رقم الطلب</th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">اسم العميل</th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">تاريخ الحجز</th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">المتبقي</th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">الرحلة</th>
                    <th class="px-4 py-2 text-right border-b border-[#000000]">تاريخ الرحلة</th>
                    <th class="px-4 py-2 text-center border-b border-[#000000]">الإجراءات</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                  <td class="px-4 py-2 border-b border-[#F5F0F1]">{{ reservation.id }}</td>
                    <td class="px-4 py-2 border-b border-[#F5F0F1]">{{ reservation.passenger.name }}</td>
                    <td class="px-4 py-2 border-b border-[#F5F0F1]">{{ reservation.request_date }}</td>
                    <td class="px-4 py-2 border-b border-[#F5F0F1]">{{ reservation.passenger.remaining_amount }}</td>
                    <td class="px-4 py-2 border-b border-[#F5F0F1]">{{ reservation.passenger.trip_location.departure }} إلى {{ reservation.passenger.trip_location.destination }}</td>
                    <td class="px-4 py-2 border-b border-[#F5F0F1]">{{ reservation.passenger.trip_date }}</td>
                    <td class="px-1 py-2 border-b border-[#F5F0F1] flex flex-row gap-2 justify-center">
                        <form method="post" action="{% url 'approve_reservation' reservation.id %}">
                            {% csrf_token %}
                            <button type="submit" class="bg-[#94FF42] rounded-lg w-[80px] flex items-center gap-1 justify-center">قبول</button>
                        </form>
                        <form method="post" action="{% url 'reject_reservation' reservation.id %}">
                            {% csrf_token %}
                            <button type="submit" class="bg-[#FF424C] text-[#16151C] rounded-lg w-[80px] flex items-center gap-1 justify-center">رفض</button>
                        </form>

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">لا يوجد طلبات متاحة</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
      <!-- table end  -->





</div>
{% endblock %}


